#text {
    background-color: black;
    color: white;
    overflow: scroll;
    height: 300px;
    margin: auto;
}

h1 {
    text-align: center;
}

#projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  width: 100%;
}

.book {
    border: 1px solid black;
}

.thumbnail {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
}

